.overview{
    height: 150px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    &.pedidos{
        background: rgb(243, 72, 72)
    }
    &.productos{
        background-color: rgb(3, 187, 162);
    }

    &.admins{
        background-color: rgb(255, 208, 0);
    }

    &.clientes{
        background-color: rgb(2, 110, 233);
    }
}