<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inventario">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recientes">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Recientes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>