.content {
    background-color: rgb(243, 243, 243);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
        margin-bottom: 30px;
    }
    form {
        h2 {
            margin-bottom: 30px;
        }
        a {
            text-decoration: none;
            text-align: center;
        }
        border-radius: 10px;
        width: 80%;
        padding: 40px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
        input {
            width: 280px;
            outline: none;
            border: none;
            background-color: rgb(243, 243, 243);
            padding: 7px;
        }
    }
}

.top {
    background-color: #007bff;
    clip-path: circle(100% at 50% 0);
    width: 100%;
    height: 50%;
    position: absolute;
}
