<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item detail *ngFor="let registro of qrData.productos" (click)="abrirRegistro(registro)">
      <ion-icon color="primary" slot="start" name="time-outline">
      </ion-icon>
      <ion-label>
        <h2>{{registro.name}}</h2>
        <p>{{registro.created}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>