.content {
    background-color: rgb(247, 241, 241);
    padding: 5px 10px 10px 10px;
    h3 {
        margin: 0;
    }
    .pedido {
        padding: 10px;
        background-color: white;
        margin-bottom: 20px;
        .icon {
            font-size: 30px;
            vertical-align: middle;
            &.pendiente {
                color: rgb(36, 122, 250);
            }
            &.entregado {
                color: rgb(76, 226, 76);
            }
            &.cancelado {
                color: red;
            }
        }
    }
}
